:root {
  --sc: #369068;
  --er: #faa8a8;
}

html {
  background-color: Canvas;
  color: CanvasText;
  color-scheme: dark light;
  line-height: 2em;
  font-size: 16px
}

.wrap {
  max-width: 500px;
  margin: 0 auto;
}