:root {
  --m-bg: #fff;
  --m-txt: #000;
  --m-gray: #666;
  --m-link: #5460dd;
  --m-border: #5460dd;
  --m-error: #fad192;
}

@media(prefers-color-scheme:dark) {
  :root {
    --m-bg: #000;
    --m-txt: #fff;
  }
}

#щ * {
  box-sizing: border-box;
  user-select: none;
  line-height: 2em;
}

#щ time {
  margin: 0;
  padding: 0;
  color: var(--m-gray);
  font-size: .8rem;
}

#щ .m-title {
  position: relative;
  font-size: 1em;
  margin-block: 80px 1em;
}

#щ .m-title::before {
  content: '';
  width: 64px;
  height: 2px;
  background-color: var(--m-txt);
  position: absolute;
  top: -15px;
}

#щ .m-head,
#щ .m-head .m-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#щ .m-nick{
color: var(--m-link);
}

#щ .m-nick::after{
  content: "•";
  font-size: .8em;
  padding-inline: .5em;
}
#щ .m-reply {
  background: transparent;
  border: none;
  outline: none;
  color: var(--m-gray);
  opacity: 1;
  transition: opacity .2s;
  cursor: pointer;
}

#щ .m-card:hover>.m-head .m-reply {
  opacity: 1;
}
.m-cards>.m-card{
  padding-inline: 1em;
  border: 1px dashed var(--m-border);
  border-radius: 5px;
}
#щ .m-body{
  padding-bottom: 1em;
}
#щ .m-cards>.m-card{
  margin-block: 1em;
}

#щ .m-comment,
#щ .m-comment>.m-body{
  font-size: .9rem;
  padding-left: .5em;
}
#щ .m-comment>.m-card {
  padding-left:1em;
}
#щ .m-more-count,
#щ .m-at {
  color: var(--m-link);
  padding-inline: 5px;
}


#щ .m-remand{
  border: none;
  outline: none;
  background: transparent;
  color: var(--m-gray);
}

#щ .m-remand::before{
  content: '————';
  margin-left: .5em;
  padding-right: .5em;
}


#щ .m-at::before {
  content: "@";
  padding-right: 2px;
}

#щ .m-submit {
  margin-block: 1em;
}

#щ .m-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

#щ .m-input .m-site {
  grid-column: 1/-1;
}

#щ .m-input input,
#щ textarea {
  background: transparent;
  padding: 1em;
  border: none;
  outline: none;
  width: 100%;
  resize: vertical;
  border: 1px solid var(--m-border);
}

#щ textarea {
  font-size: 1em;
  margin-top: 1em;
}

#щ .m-input input.m-error,
#щ textarea.m-error {
  color: var(--m-error);
}

#щ .m-content {
  position: relative;
}

#щ .m-content .m-state {
  padding: .5em;
  font-size: .8em;
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: var(--m-gray);
}

#щ .m-state .m-word::after {
  content: '/';
  position: relative;
  padding-left: 5px;
}

#щ .m-content.m-error textarea,
#щ .m-content.m-error .m-state {
  color: var(--m-error);
}

#щ .m-tool {
  text-align: right;
}

#щ .m-btn {
  -webkit-tap-highlight-color: transparent;
  margin: 1em 0;
  padding: 5px 2em;
  background: transparent;
  border: 1px solid var(--m-border);
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: -3px 3px var(--m-border);
  transition: box-shadow .2s;
}
#щ .m-cancel{
  margin-right: .5em;
}

#щ .m-btn:active {
  box-shadow: -2px 2px var(--m-border);
}